.detail2{
   height :51px;
   width :356px;
   margin-top :4%;
   margin-left :5%;
   display: flex;
   margin-bottom : 5%;
}
.person2 img{
   height :38px;
   width :39px;
   border-radius: 50%;
   margin-top :1%;
object-fit: cover;
}
.name2{
   margin-left :3.5%;
}
.name2 a{
   font-size: 15px; 
   color: rgb(72, 72, 72);
}
.name2 span{
   font-weight: 550;
}
.name2 p{
   font-size:15px ;
   margin-top : 0%;
   margin-left : 0%;
   font-weight: 300;
   color: #767575;
}
.follow{
width :65px;
height :25px;
margin-left : 9%;
background-color: #0095f6;
border-radius: 8px;
color:rgb(255, 255, 255);
padding-left :5%;
padding-top : 2%;
cursor: pointer;
}
.following{
   width :85px;
height :27px;
margin-left : 9%;
color:black;
border-radius: 8px;
background-color: #dfdfdf;
padding-left :5%;
padding-top : 2%;
cursor: pointer;
}



